/*----------------------------------------------------------------------------------- */
/*  Buttons */
/*----------------------------------------------------------------------------------- */
.btn {
  border: 0 !important; }
  .btn.active, .btn:active {
    box-shadow: none; }

.btn-lg {
  font-size: 16px; }

.btn-sm .fa {
  font-size: 14px;
  vertical-align: middle; }

.btn-default {
  background: rgba(0, 0, 0, 0.25);
  color: white; }
  .btn-default:hover, .btn-default.active, .btn-default:focus, .btn-default:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; }

.btn-primary {
  background: #e73fa2; }
  .btn-primary:hover, .btn-primary.active, .btn-primary:focus, .btn-primary:active {
    background: #e11c90; }

.btn-success {
  background: #50bf3e; }
  .btn-success:hover, .btn-success.active, .btn-success:focus, .btn-success:active {
    background: #43a034; }

.btn-info {
  background: #47c2c7; }
  .btn-info:hover, .btn-info.active, .btn-info:focus, .btn-info:active {
    background: #35abb0; }

.btn-warning {
  background: #eb9424; }
  .btn-warning:hover, .btn-warning.active, .btn-warning:focus, .btn-warning:active {
    background: #d37f13; }

.btn-danger {
  background: #ee5454; }
  .btn-danger:hover, .btn-danger.active, .btn-danger:focus, .btn-danger:active {
    background: #ea2f2f; }

.btn-link {
  color: #e73fa2; }

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: 1px; }

.btn-group.open .dropdown-toggle {
  box-shadow: none;
  color: white; }
  .btn-group.open .dropdown-toggle.btn-default {
    background-color: rgba(0, 0, 0, 0.5); }
  .btn-group.open .dropdown-toggle.btn-primary {
    background-color: #c1187c; }
  .btn-group.open .dropdown-toggle.btn-success {
    background-color: #38852b; }
  .btn-group.open .dropdown-toggle.btn-info {
    background-color: #2d9094; }
  .btn-group.open .dropdown-toggle.btn-warning {
    background-color: #b26b10; }
  .btn-group.open .dropdown-toggle.btn-danger {
    background-color: #df1616; }
  .btn-group.open .dropdown-toggle .caret {
    border-top-color: white; }

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.5; }

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  background-color: #888185; }

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #e73fa2; }

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
  background-color: #50bf3e; }

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
  background-color: #47c2c7; }

.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
  background-color: #eb9424; }

.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
  background-color: #ee5454; }

.btn-social {
  position: relative;
  padding-left: 34px; }
  .btn-social .fa {
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 1.2em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
  .btn-social.btn-lg {
    padding-left: 61px; }
    .btn-social.btn-lg .fa {
      line-height: 45px;
      width: 45px;
      font-size: 1.5em; }
  .btn-social.btn-sm {
    padding-left: 38px; }
    .btn-social.btn-sm .fa {
      line-height: 28px;
      width: 28px;
      font-size: 1.1em; }
  .btn-social.btn-xs {
    padding-left: 30px; }
    .btn-social.btn-xs .fa {
      line-height: 20px;
      width: 20px;
      font-size: 0.9em; }

.btn-facebook {
  color: white;
  background-color: #3b5998; }
  .btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active {
    color: white;
    background-color: #324c82; }

.open .dropdown-toggle.btn-facebook {
  color: white;
  background-color: #3b5998; }

.btn-facebook:active, .btn-facebook.active {
  background-image: none; }

.open .dropdown-toggle.btn-facebook {
  background-image: none; }

.btn-facebook.disabled, .btn-facebook[disabled] {
  background-color: #133783; }

fieldset[disabled] .btn-facebook {
  background-color: #133783; }

.btn-facebook.disabled:hover, .btn-facebook[disabled]:hover {
  background-color: #133783; }

fieldset[disabled] .btn-facebook:hover {
  background-color: #133783; }

.btn-facebook.disabled:focus, .btn-facebook[disabled]:focus {
  background-color: #133783; }

fieldset[disabled] .btn-facebook:focus {
  background-color: #133783; }

.btn-facebook.disabled:active, .btn-facebook[disabled]:active {
  background-color: #133783; }

fieldset[disabled] .btn-facebook:active {
  background-color: #133783; }

.btn-facebook.disabled.active, .btn-facebook[disabled].active {
  background-color: #133783; }

fieldset[disabled] .btn-facebook.active {
  background-color: #133783; }

.btn-twitter {
  color: white;
  background-color: #2daddc; }
  .btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active {
    color: white;
    background-color: #2095c0; }

.open .dropdown-toggle.btn-twitter {
  color: white;
  background-color: #2095c0; }

.btn-twitter:active, .btn-twitter.active {
  background-image: none; }

.open .dropdown-toggle.btn-twitter {
  background-image: none; }

.btn-twitter.disabled, .btn-twitter[disabled] {
  background-color: #2daddc;
  border-color: #0271bf; }

fieldset[disabled] .btn-twitter {
  background-color: #2daddc;
  border-color: #0271bf; }

.btn-twitter.disabled:hover, .btn-twitter[disabled]:hover {
  background-color: #2daddc;
  border-color: #0271bf; }

fieldset[disabled] .btn-twitter:hover {
  background-color: #2daddc;
  border-color: #0271bf; }

.btn-twitter.disabled:focus, .btn-twitter[disabled]:focus {
  background-color: #2daddc;
  border-color: #0271bf; }

fieldset[disabled] .btn-twitter:focus {
  background-color: #2daddc;
  border-color: #0271bf; }

.btn-twitter.disabled:active, .btn-twitter[disabled]:active {
  background-color: #2daddc;
  border-color: #0271bf; }

fieldset[disabled] .btn-twitter:active {
  background-color: #2daddc;
  border-color: #0271bf; }

.btn-twitter.disabled.active, .btn-twitter[disabled].active {
  background-color: #2daddc;
  border-color: #0271bf; }

fieldset[disabled] .btn-twitter.active {
  background-color: #2daddc;
  border-color: #0271bf; }

.btn-github {
  color: black;
  background-color: #fafafa;
  border-color: #e2e2e2; }
  .btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active {
    color: black;
    background-color: #e6e6e6; }

.open .dropdown-toggle.btn-github {
  color: black;
  background-color: #e6e6e6; }

.btn-github:active, .btn-github.active {
  background-image: none; }

.open .dropdown-toggle.btn-github {
  background-image: none; }

.btn-github.disabled, .btn-github[disabled] {
  background-color: #fafafa; }

fieldset[disabled] .btn-github {
  background-color: #fafafa; }

.btn-github.disabled:hover, .btn-github[disabled]:hover {
  background-color: #fafafa; }

fieldset[disabled] .btn-github:hover {
  background-color: #fafafa; }

.btn-github.disabled:focus, .btn-github[disabled]:focus {
  background-color: #fafafa; }

fieldset[disabled] .btn-github:focus {
  background-color: #fafafa; }

.btn-github.disabled:active, .btn-github[disabled]:active {
  background-color: #fafafa; }

fieldset[disabled] .btn-github:active {
  background-color: #fafafa; }

.btn-github.disabled.active, .btn-github[disabled].active {
  background-color: #fafafa; }

fieldset[disabled] .btn-github.active {
  background-color: #fafafa; }

.btn-pinterest {
  color: white;
  background-color: #d62229; }
  .btn-pinterest:hover, .btn-pinterest:focus, .btn-pinterest:active, .btn-pinterest.active {
    color: white;
    background-color: #b31c22; }

.open .dropdown-toggle.btn-pinterest {
  color: white;
  background-color: #b31c22; }

.btn-pinterest:active, .btn-pinterest.active {
  background-image: none; }

.open .dropdown-toggle.btn-pinterest {
  background-image: none; }

.btn-pinterest.disabled, .btn-pinterest[disabled] {
  background-color: #d62229; }

fieldset[disabled] .btn-pinterest {
  background-color: #d62229; }

.btn-pinterest.disabled:hover, .btn-pinterest[disabled]:hover {
  background-color: #d62229; }

fieldset[disabled] .btn-pinterest:hover {
  background-color: #d62229; }

.btn-pinterest.disabled:focus, .btn-pinterest[disabled]:focus {
  background-color: #d62229; }

fieldset[disabled] .btn-pinterest:focus {
  background-color: #d62229; }

.btn-pinterest.disabled:active, .btn-pinterest[disabled]:active {
  background-color: #d62229; }

fieldset[disabled] .btn-pinterest:active {
  background-color: #d62229; }

.btn-pinterest.disabled.active, .btn-pinterest[disabled].active {
  background-color: #d62229; }

fieldset[disabled] .btn-pinterest.active {
  background-color: #d62229; }

.btn-linkedin {
  color: white;
  background-color: #73b8db; }
  .btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active {
    color: white;
    background-color: #53a8d3; }

.open .dropdown-toggle.btn-linkedin {
  color: white;
  background-color: #53a8d3; }

.btn-linkedin:active, .btn-linkedin.active {
  background-image: none; }

.open .dropdown-toggle.btn-linkedin {
  background-image: none; }

.btn-linkedin.disabled, .btn-linkedin[disabled] {
  background-color: #73b8db; }

fieldset[disabled] .btn-linkedin {
  background-color: #73b8db; }

.btn-linkedin.disabled:hover, .btn-linkedin[disabled]:hover {
  background-color: #73b8db; }

fieldset[disabled] .btn-linkedin:hover {
  background-color: #73b8db; }

.btn-linkedin.disabled:focus, .btn-linkedin[disabled]:focus {
  background-color: #73b8db; }

fieldset[disabled] .btn-linkedin:focus {
  background-color: #73b8db; }

.btn-linkedin.disabled:active, .btn-linkedin[disabled]:active {
  background-color: #73b8db; }

fieldset[disabled] .btn-linkedin:active {
  background-color: #73b8db; }

.btn-linkedin.disabled.active, .btn-linkedin[disabled].active {
  background-color: #73b8db; }

fieldset[disabled] .btn-linkedin.active {
  background-color: #73b8db; }

.btn-google-plus {
  color: white;
  background-color: #dd4b39; }
  .btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active {
    color: white;
    background-color: #ca3523; }

.open .dropdown-toggle.btn-google-plus {
  color: white;
  background-color: #ca3523; }

.btn-google-plus:active, .btn-google-plus.active {
  background-image: none; }

.open .dropdown-toggle.btn-google-plus {
  background-image: none; }

.btn-google-plus.disabled, .btn-google-plus[disabled] {
  background-color: #dd4b39; }

fieldset[disabled] .btn-google-plus {
  background-color: #dd4b39; }

.btn-google-plus.disabled:hover, .btn-google-plus[disabled]:hover {
  background-color: #dd4b39; }

fieldset[disabled] .btn-google-plus:hover {
  background-color: #dd4b39; }

.btn-google-plus.disabled:focus, .btn-google-plus[disabled]:focus {
  background-color: #dd4b39; }

fieldset[disabled] .btn-google-plus:focus {
  background-color: #dd4b39; }

.btn-google-plus.disabled:active, .btn-google-plus[disabled]:active {
  background-color: #dd4b39; }

fieldset[disabled] .btn-google-plus:active {
  background-color: #dd4b39; }

.btn-google-plus.disabled.active, .btn-google-plus[disabled].active {
  background-color: #dd4b39; }

fieldset[disabled] .btn-google-plus.active {
  background-color: #dd4b39; }

.btn-instagram {
  color: white;
  background-color: #6f97b6; }
  .btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active {
    color: white;
    background-color: #5583a7; }

.open .dropdown-toggle.btn-instagram {
  color: white;
  background-color: #5583a7; }

.btn-instagram:active, .btn-instagram.active {
  background-image: none; }

.open .dropdown-toggle.btn-instagram {
  background-image: none; }

.btn-instagram.disabled, .btn-instagram[disabled] {
  background-color: #6f97b6; }

fieldset[disabled] .btn-instagram {
  background-color: #6f97b6; }

.btn-instagram.disabled:hover, .btn-instagram[disabled]:hover {
  background-color: #6f97b6; }

fieldset[disabled] .btn-instagram:hover {
  background-color: #6f97b6; }

.btn-instagram.disabled:focus, .btn-instagram[disabled]:focus {
  background-color: #6f97b6; }

fieldset[disabled] .btn-instagram:focus {
  background-color: #6f97b6; }

.btn-instagram.disabled:active, .btn-instagram[disabled]:active {
  background-color: #6f97b6; }

fieldset[disabled] .btn-instagram:active {
  background-color: #6f97b6; }

.btn-instagram.disabled.active, .btn-instagram[disabled].active {
  background-color: #6f97b6; }

fieldset[disabled] .btn-instagram.active {
  background-color: #6f97b6; }

.btn-dropbox {
  color: white;
  background-color: #37a3eb; }
  .btn-dropbox:hover, .btn-dropbox:focus, .btn-dropbox:active, .btn-dropbox.active {
    color: white;
    background-color: #1791e3; }

.open .dropdown-toggle.btn-dropbox {
  color: white;
  background-color: #1791e3; }

.btn-dropbox:active, .btn-dropbox.active {
  background-image: none; }

.open .dropdown-toggle.btn-dropbox {
  background-image: none; }

.btn-dropbox.disabled, .btn-dropbox[disabled] {
  background-color: #37a3eb; }

fieldset[disabled] .btn-dropbox {
  background-color: #37a3eb; }

.btn-dropbox.disabled:hover, .btn-dropbox[disabled]:hover {
  background-color: #37a3eb; }

fieldset[disabled] .btn-dropbox:hover {
  background-color: #37a3eb; }

.btn-dropbox.disabled:focus, .btn-dropbox[disabled]:focus {
  background-color: #37a3eb; }

fieldset[disabled] .btn-dropbox:focus {
  background-color: #37a3eb; }

.btn-dropbox.disabled:active, .btn-dropbox[disabled]:active {
  background-color: #37a3eb; }

fieldset[disabled] .btn-dropbox:active {
  background-color: #37a3eb; }

.btn-dropbox.disabled.active, .btn-dropbox[disabled].active {
  background-color: #37a3eb; }

fieldset[disabled] .btn-dropbox.active {
  background-color: #37a3eb; }

.btn-bitbucket {
  color: white;
  background-color: #2d5f9c; }
  .btn-bitbucket:hover, .btn-bitbucket:focus, .btn-bitbucket:active, .btn-bitbucket.active {
    color: white;
    background-color: #244c7c; }

.open .dropdown-toggle.btn-bitbucket {
  color: white;
  background-color: #244c7c; }

.btn-bitbucket:active, .btn-bitbucket.active {
  background-image: none; }

.open .dropdown-toggle.btn-bitbucket {
  background-image: none; }

.btn-bitbucket.disabled, .btn-bitbucket[disabled] {
  background-color: #2d5f9c; }

fieldset[disabled] .btn-bitbucket {
  background-color: #2d5f9c; }

.btn-bitbucket.disabled:hover, .btn-bitbucket[disabled]:hover {
  background-color: #2d5f9c; }

fieldset[disabled] .btn-bitbucket:hover {
  background-color: #2d5f9c; }

.btn-bitbucket.disabled:focus, .btn-bitbucket[disabled]:focus {
  background-color: #2d5f9c; }

fieldset[disabled] .btn-bitbucket:focus {
  background-color: #2d5f9c; }

.btn-bitbucket.disabled:active, .btn-bitbucket[disabled]:active {
  background-color: #2d5f9c; }

fieldset[disabled] .btn-bitbucket:active {
  background-color: #2d5f9c; }

.btn-bitbucket.disabled.active, .btn-bitbucket[disabled].active {
  background-color: #2d5f9c; }

fieldset[disabled] .btn-bitbucket.active {
  background-color: #2d5f9c; }

.btn-dribbble {
  color: white;
  background-color: #ea4c89; }
  .btn-dribbble:hover, .btn-dribbble:focus, .btn-dribbble:active, .btn-dribbble.active {
    color: white;
    background-color: #e62771; }

.open .dropdown-toggle.btn-dribbble {
  color: white;
  background-color: #e62771; }

.btn-dribbble:active, .btn-dribbble.active {
  background-image: none; }

.open .dropdown-toggle.btn-dribbble {
  background-image: none; }

.btn-dribbble.disabled, .btn-dribbble[disabled] {
  background-color: #ea4c89; }

fieldset[disabled] .btn-dribbble {
  background-color: #ea4c89; }

.btn-dribbble.disabled:hover, .btn-dribbble[disabled]:hover {
  background-color: #ea4c89; }

fieldset[disabled] .btn-dribbble:hover {
  background-color: #ea4c89; }

.btn-dribbble.disabled:focus, .btn-dribbble[disabled]:focus {
  background-color: #ea4c89; }

fieldset[disabled] .btn-dribbble:focus {
  background-color: #ea4c89; }

.btn-dribbble.disabled:active, .btn-dribbble[disabled]:active {
  background-color: #ea4c89; }

fieldset[disabled] .btn-dribbble:active {
  background-color: #ea4c89; }

.btn-dribbble.disabled.active, .btn-dribbble[disabled].active {
  background-color: #ea4c89; }

fieldset[disabled] .btn-dribbble.active {
  background-color: #ea4c89; }

.btn-flickr {
  color: white;
  background-color: #f051a5; }
  .btn-flickr:hover, .btn-flickr:focus, .btn-flickr:active, .btn-flickr.active {
    color: white;
    background-color: #ed2b92; }

.open .dropdown-toggle.btn-flickr {
  color: white;
  background-color: #ed2b92; }

.btn-flickr:active, .btn-flickr.active {
  background-image: none; }

.open .dropdown-toggle.btn-flickr {
  background-image: none; }

.btn-flickr.disabled, .btn-flickr[disabled] {
  background-color: #f051a5; }

fieldset[disabled] .btn-flickr {
  background-color: #f051a5; }

.btn-flickr.disabled:hover, .btn-flickr[disabled]:hover {
  background-color: #f051a5; }

fieldset[disabled] .btn-flickr:hover {
  background-color: #f051a5; }

.btn-flickr.disabled:focus, .btn-flickr[disabled]:focus {
  background-color: #f051a5; }

fieldset[disabled] .btn-flickr:focus {
  background-color: #f051a5; }

.btn-flickr.disabled:active, .btn-flickr[disabled]:active {
  background-color: #f051a5; }

fieldset[disabled] .btn-flickr:active {
  background-color: #f051a5; }

.btn-flickr.disabled.active, .btn-flickr[disabled].active {
  background-color: #f051a5; }

fieldset[disabled] .btn-flickr.active {
  background-color: #f051a5; }

.btn-foursquare {
  color: white;
  background-color: #0cbadf; }
  .btn-foursquare:hover, .btn-foursquare:focus, .btn-foursquare:active, .btn-foursquare.active {
    color: white;
    background-color: #0a9ab8; }

.open .dropdown-toggle.btn-foursquare {
  color: white;
  background-color: #0a9ab8; }

.btn-foursquare:active, .btn-foursquare.active {
  background-image: none; }

.open .dropdown-toggle.btn-foursquare {
  background-image: none; }

.btn-foursquare.disabled, .btn-foursquare[disabled] {
  background-color: #0cbadf; }

fieldset[disabled] .btn-foursquare {
  background-color: #0cbadf; }

.btn-foursquare.disabled:hover, .btn-foursquare[disabled]:hover {
  background-color: #0cbadf; }

fieldset[disabled] .btn-foursquare:hover {
  background-color: #0cbadf; }

.btn-foursquare.disabled:focus, .btn-foursquare[disabled]:focus {
  background-color: #0cbadf; }

fieldset[disabled] .btn-foursquare:focus {
  background-color: #0cbadf; }

.btn-foursquare.disabled:active, .btn-foursquare[disabled]:active {
  background-color: #0cbadf; }

fieldset[disabled] .btn-foursquare:active {
  background-color: #0cbadf; }

.btn-foursquare.disabled.active, .btn-foursquare[disabled].active {
  background-color: #0cbadf; }

fieldset[disabled] .btn-foursquare.active {
  background-color: #0cbadf; }

.btn-renren {
  color: white;
  background-color: #397cb6; }
  .btn-renren:hover, .btn-renren:focus, .btn-renren:active, .btn-renren.active {
    color: white;
    background-color: #2f6797; }

.open .dropdown-toggle.btn-renren {
  color: white;
  background-color: #2f6797; }

.btn-renren:active, .btn-renren.active {
  background-image: none; }

.open .dropdown-toggle.btn-renren {
  background-image: none; }

.btn-renren.disabled, .btn-renren[disabled] {
  background-color: #397cb6; }

fieldset[disabled] .btn-renren {
  background-color: #397cb6; }

.btn-renren.disabled:hover, .btn-renren[disabled]:hover {
  background-color: #397cb6; }

fieldset[disabled] .btn-renren:hover {
  background-color: #397cb6; }

.btn-renren.disabled:focus, .btn-renren[disabled]:focus {
  background-color: #397cb6; }

fieldset[disabled] .btn-renren:focus {
  background-color: #397cb6; }

.btn-renren.disabled:active, .btn-renren[disabled]:active {
  background-color: #397cb6; }

fieldset[disabled] .btn-renren:active {
  background-color: #397cb6; }

.btn-renren.disabled.active, .btn-renren[disabled].active {
  background-color: #397cb6; }

fieldset[disabled] .btn-renren.active {
  background-color: #397cb6; }

.btn-skype {
  color: white;
  background-color: #70c3e2; }
  .btn-skype:hover, .btn-skype:focus, .btn-skype:active, .btn-skype.active {
    color: white;
    background-color: #4eb5db; }

.open .dropdown-toggle.btn-skype {
  color: white;
  background-color: #4eb5db; }

.btn-skype:active, .btn-skype.active {
  background-image: none; }

.open .dropdown-toggle.btn-skype {
  background-image: none; }

.btn-skype.disabled, .btn-skype[disabled] {
  background-color: #70c3e2; }

fieldset[disabled] .btn-skype {
  background-color: #70c3e2; }

.btn-skype.disabled:hover, .btn-skype[disabled]:hover {
  background-color: #70c3e2; }

fieldset[disabled] .btn-skype:hover {
  background-color: #70c3e2; }

.btn-skype.disabled:focus, .btn-skype[disabled]:focus {
  background-color: #70c3e2; }

fieldset[disabled] .btn-skype:focus {
  background-color: #70c3e2; }

.btn-skype.disabled:active, .btn-skype[disabled]:active {
  background-color: #70c3e2; }

fieldset[disabled] .btn-skype:active {
  background-color: #70c3e2; }

.btn-skype.disabled.active, .btn-skype[disabled].active {
  background-color: #70c3e2; }

fieldset[disabled] .btn-skype.active {
  background-color: #70c3e2; }

.btn-stackexchange {
  color: white;
  background-color: #5184c1; }
  .btn-stackexchange:hover, .btn-stackexchange:focus, .btn-stackexchange:active, .btn-stackexchange.active {
    color: white;
    background-color: #3d70ac; }

.open .dropdown-toggle.btn-stackexchange {
  color: white;
  background-color: #3d70ac; }

.btn-stackexchange:active, .btn-stackexchange.active {
  background-image: none; }

.open .dropdown-toggle.btn-stackexchange {
  background-image: none; }

.btn-stackexchange.disabled, .btn-stackexchange[disabled] {
  background-color: #5184c1; }

fieldset[disabled] .btn-stackexchange {
  background-color: #5184c1; }

.btn-stackexchange.disabled:hover, .btn-stackexchange[disabled]:hover {
  background-color: #5184c1; }

fieldset[disabled] .btn-stackexchange:hover {
  background-color: #5184c1; }

.btn-stackexchange.disabled:focus, .btn-stackexchange[disabled]:focus {
  background-color: #5184c1; }

fieldset[disabled] .btn-stackexchange:focus {
  background-color: #5184c1; }

.btn-stackexchange.disabled:active, .btn-stackexchange[disabled]:active {
  background-color: #5184c1; }

fieldset[disabled] .btn-stackexchange:active {
  background-color: #5184c1; }

.btn-stackexchange.disabled.active, .btn-stackexchange[disabled].active {
  background-color: #5184c1; }

fieldset[disabled] .btn-stackexchange.active {
  background-color: #5184c1; }

.btn-trello {
  color: white;
  background-color: #569cc4; }
  .btn-trello:hover, .btn-trello:focus, .btn-trello:active, .btn-trello.active {
    color: white;
    background-color: #3e88b3; }

.open .dropdown-toggle.btn-trello {
  color: white;
  background-color: #3e88b3; }

.btn-trello:active, .btn-trello.active {
  background-image: none; }

.open .dropdown-toggle.btn-trello {
  background-image: none; }

.btn-trello.disabled, .btn-trello[disabled] {
  background-color: #569cc4; }

fieldset[disabled] .btn-trello {
  background-color: #569cc4; }

.btn-trello.disabled:hover, .btn-trello[disabled]:hover {
  background-color: #569cc4; }

fieldset[disabled] .btn-trello:hover {
  background-color: #569cc4; }

.btn-trello.disabled:focus, .btn-trello[disabled]:focus {
  background-color: #569cc4; }

fieldset[disabled] .btn-trello:focus {
  background-color: #569cc4; }

.btn-trello.disabled:active, .btn-trello[disabled]:active {
  background-color: #569cc4; }

fieldset[disabled] .btn-trello:active {
  background-color: #569cc4; }

.btn-trello.disabled.active, .btn-trello[disabled].active {
  background-color: #569cc4; }

fieldset[disabled] .btn-trello.active {
  background-color: #569cc4; }

.btn-tumblr {
  color: white;
  background-color: #3a5976; }
  .btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active {
    color: white;
    background-color: #2d445b; }

.open .dropdown-toggle.btn-tumblr {
  color: white;
  background-color: #2d445b; }

.btn-tumblr:active, .btn-tumblr.active {
  background-image: none; }

.open .dropdown-toggle.btn-tumblr {
  background-image: none; }

.btn-tumblr.disabled, .btn-tumblr[disabled] {
  background-color: #3a5976; }

fieldset[disabled] .btn-tumblr {
  background-color: #3a5976; }

.btn-tumblr.disabled:hover, .btn-tumblr[disabled]:hover {
  background-color: #3a5976; }

fieldset[disabled] .btn-tumblr:hover {
  background-color: #3a5976; }

.btn-tumblr.disabled:focus, .btn-tumblr[disabled]:focus {
  background-color: #3a5976; }

fieldset[disabled] .btn-tumblr:focus {
  background-color: #3a5976; }

.btn-tumblr.disabled:active, .btn-tumblr[disabled]:active {
  background-color: #3a5976; }

fieldset[disabled] .btn-tumblr:active {
  background-color: #3a5976; }

.btn-tumblr.disabled.active, .btn-tumblr[disabled].active {
  background-color: #3a5976; }

fieldset[disabled] .btn-tumblr.active {
  background-color: #3a5976; }

.btn-vk {
  color: white;
  background-color: #5a7fa6; }
  .btn-vk:hover, .btn-vk:focus, .btn-vk:active, .btn-vk.active {
    color: white;
    background-color: #4b6b8c; }

.open .dropdown-toggle.btn-vk {
  color: white;
  background-color: #4b6b8c; }

.btn-vk:active, .btn-vk.active {
  background-image: none; }

.open .dropdown-toggle.btn-vk {
  background-image: none; }

.btn-vk.disabled, .btn-vk[disabled] {
  background-color: #5a7fa6; }

fieldset[disabled] .btn-vk {
  background-color: #5a7fa6; }

.btn-vk.disabled:hover, .btn-vk[disabled]:hover {
  background-color: #5a7fa6; }

fieldset[disabled] .btn-vk:hover {
  background-color: #5a7fa6; }

.btn-vk.disabled:focus, .btn-vk[disabled]:focus {
  background-color: #5a7fa6; }

fieldset[disabled] .btn-vk:focus {
  background-color: #5a7fa6; }

.btn-vk.disabled:active, .btn-vk[disabled]:active {
  background-color: #5a7fa6; }

fieldset[disabled] .btn-vk:active {
  background-color: #5a7fa6; }

.btn-vk.disabled.active, .btn-vk[disabled].active {
  background-color: #5a7fa6; }

fieldset[disabled] .btn-vk.active {
  background-color: #5a7fa6; }

.btn-weibo {
  color: white;
  background-color: #f85959; }
  .btn-weibo:hover, .btn-weibo:focus, .btn-weibo:active, .btn-weibo.active {
    color: white;
    background-color: #f63232; }

.open .dropdown-toggle.btn-weibo {
  color: white;
  background-color: #f63232; }

.btn-weibo:active, .btn-weibo.active {
  background-image: none; }

.open .dropdown-toggle.btn-weibo {
  background-image: none; }

.btn-weibo.disabled, .btn-weibo[disabled] {
  background-color: #f85959; }

fieldset[disabled] .btn-weibo {
  background-color: #f85959; }

.btn-weibo.disabled:hover, .btn-weibo[disabled]:hover {
  background-color: #f85959; }

fieldset[disabled] .btn-weibo:hover {
  background-color: #f85959; }

.btn-weibo.disabled:focus, .btn-weibo[disabled]:focus {
  background-color: #f85959; }

fieldset[disabled] .btn-weibo:focus {
  background-color: #f85959; }

.btn-weibo.disabled:active, .btn-weibo[disabled]:active {
  background-color: #f85959; }

fieldset[disabled] .btn-weibo:active {
  background-color: #f85959; }

.btn-weibo.disabled.active, .btn-weibo[disabled].active {
  background-color: #f85959; }

fieldset[disabled] .btn-weibo.active {
  background-color: #f85959; }

.btn-xing {
  color: white;
  background-color: #1f6768; }
  .btn-xing:hover, .btn-xing:focus, .btn-xing:active, .btn-xing.active {
    color: white;
    background-color: #164849; }

.open .dropdown-toggle.btn-xing {
  color: white;
  background-color: #164849; }

.btn-xing:active, .btn-xing.active {
  background-image: none; }

.open .dropdown-toggle.btn-xing {
  background-image: none; }

.btn-xing.disabled, .btn-xing[disabled] {
  background-color: #1f6768; }

fieldset[disabled] .btn-xing {
  background-color: #1f6768; }

.btn-xing.disabled:hover, .btn-xing[disabled]:hover {
  background-color: #1f6768; }

fieldset[disabled] .btn-xing:hover {
  background-color: #1f6768; }

.btn-xing.disabled:focus, .btn-xing[disabled]:focus {
  background-color: #1f6768; }

fieldset[disabled] .btn-xing:focus {
  background-color: #1f6768; }

.btn-xing.disabled:active, .btn-xing[disabled]:active {
  background-color: #1f6768; }

fieldset[disabled] .btn-xing:active {
  background-color: #1f6768; }

.btn-xing.disabled.active, .btn-xing[disabled].active {
  background-color: #1f6768; }

fieldset[disabled] .btn-xing.active {
  background-color: #1f6768; }

.btn-youtube {
  color: white;
  background-color: #cd332d; }
  .btn-youtube:hover, .btn-youtube:focus, .btn-youtube:active, .btn-youtube.active {
    color: white;
    background-color: #ac2b26; }

.open .dropdown-toggle.btn-youtube {
  color: white;
  background-color: #ac2b26; }

.btn-youtube:active, .btn-youtube.active {
  background-image: none; }

.open .dropdown-toggle.btn-youtube {
  background-image: none; }

.btn-youtube.disabled, .btn-youtube[disabled] {
  background-color: #cd332d; }

fieldset[disabled] .btn-youtube {
  background-color: #cd332d; }

.btn-youtube.disabled:hover, .btn-youtube[disabled]:hover {
  background-color: #cd332d; }

fieldset[disabled] .btn-youtube:hover {
  background-color: #cd332d; }

.btn-youtube.disabled:focus, .btn-youtube[disabled]:focus {
  background-color: #cd332d; }

fieldset[disabled] .btn-youtube:focus {
  background-color: #cd332d; }

.btn-youtube.disabled:active, .btn-youtube[disabled]:active {
  background-color: #cd332d; }

fieldset[disabled] .btn-youtube:active {
  background-color: #cd332d; }

.btn-youtube.disabled.active, .btn-youtube[disabled].active {
  background-color: #cd332d; }

fieldset[disabled] .btn-youtube.active {
  background-color: #cd332d; }
